*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background:linear-gradient(to bottom, #4961fe 100%, #4961fe 70%) ;
}
#f_bg {
  width: 100%;
}
a{
  text-decoration: none;
  color: #4961fe;
}
a:visited {
  color: #4961fe;

}
#form {
  text-align:center;
  width:100%;
  position: relative;
  margin-top: -27%;
}

.footer {
  background-color: white;
  color: #4961fe;
  text-align: center;
  margin-top: 0em;
  padding: 2em;
}
